.shop-basket-button{
    cursor: pointer;
    transition: color 500ms ease;
    margin-right: 50px;
    margin-top: 12px;
    color: white;
}

.shop-basket-button:active{
    color:rgb(rgb(0, 92, 0));
}

.shop-basket-button:hover{
    color:rgb(rgb(0, 0, 0));
}

.show-basket{
    position: fixed;
    display: flex;
    margin-top: 48px;
    width: 375px;
    min-height: 70px;
    background-color: rgb(196, 192, 192);
}